
body {
    background-color: #f8f9fa;
    font-family: 'Inter', sans-serif;
    color: #333;
}
 
.x-small { font-size: 11px; }
.cursor-pointer { cursor: pointer; }
 

#sidebar {
    width: 240px;
    min-height: 100vh;
    background: #fff;
    border-right: 1px solid #eee;
    transition: all 0.3s;
}
 
.sidebar-header h5 {
    color: #333;
    font-size: 1.2rem;
}
 
.nav-link {
    color: #6c757d;
    padding: 12px 15px;
    font-weight: 500;
    font-size: 0.9rem;
}

.nav-link i {
    width: 25px;
    margin-right: 10px;
}
 
.nav-link.active {
    color: #dc3545;
    background: #fff5f6;
    border-radius: 8px;
}
 
.nav-link:hover {
    color: #dc3545;
}
 

.stat-card {
    transition: transform 0.2s;
}
 
.icon-box {
    width: 45px;
    height: 45px;
    background: #fff5f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
 


@media (max-width: 991.98px) {
    #sidebar {
        position: fixed;
        left: -240px;
        z-index: 1000;
        height: 100%;
    }
    #sidebar.active {
        left: 0;
    }
}


.box{
    border-color: lightgrey;
    border-width: 1px;
    height: 50px;
}

.custom-red-checkbox .form-check-input:checked {
    background-color: #C8242F; 
    border-color: #C8242F;     
  }
  
.radio-red {
    accent-color: red;
  }
  
.btn1{
    background-color: #C8242F;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

.button-container {
    
    display: flex;
    gap: 10px; 
    justify-content: start; 
    padding: 5px;
    
  }
  
 
  @media (max-width: 600px) {
    .button-container {
      flex-direction: column; 
      align-items: center; 
    }
  
   
    .button-container button {
      width: 50%;
      margin-bottom: 2px;
    }
  }
  