
body {
  background-color: #f8f9fa;
  font-family: 'Inter', sans-serif;
  color: #333;
}

.x-small { font-size: 11px; }
.cursor-pointer { cursor: pointer; }


#sidebar {
  width: 240px;
  min-height: 100vh;
  background: #fff;
  border-right: 1px solid #eee;
  transition: all 0.3s;
}

.sidebar-header h5 {
  color: #333;
  font-size: 1.2rem;
}

.nav-link {
  color: #6c757d;
  padding: 12px 15px;
  font-weight: 500;
  font-size: 0.9rem;
}

.nav-link i {
  width: 25px;
  margin-right: 10px;
}

.nav-link.active {
  color: #dc3545;
  background: #fff5f6;
  border-radius: 8px;
}

.nav-link:hover {
  color: #dc3545;
}


.stat-card {
  transition: transform 0.2s;
}

.icon-box {
  width: 45px;
  height: 45px;
  background: #fff5f6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}


.custom-table thead th {
  font-size: 10px;
  color: #adb5bd;
  font-weight: 700;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 15px;
}

.custom-table tbody td {
  font-size: 13px;
  padding: 18px 0;
  border-bottom: 1px solid #f8f9fa;
}

.badge-status {
  padding: 5px 12px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
}

.badge-status.paid { background: #e8fadf; color: #28a745; }
.badge-status.failed { background: #feecef; color: #dc3545; }
.badge-status.pending { background: #fef4e6; color: #f39c12; }

@media (max-width: 991.98px) {
  #sidebar {
      position: fixed;
      left: -240px;
      z-index: 1000;
      height: 100%;
  }
  #sidebar.active {
      left: 0;
  }
}
/* 
.bd-highlight {
  background-color: rgba(86,61,124,0.15);
  border: 1px solid rgba(86,61,124,0.15);
} */
