/* Ensure smooth scrolling when clicking nav links */
html {
    scroll-behavior: smooth;
  }
  
  body {
    overflow-x: hidden;
  }

  .sidebar {
    height: 100vh;
    background-color: #343a40;
  }

  .sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
  }

  .sidebar a:hover {
    background-color: #495057;
  }