html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

.heroimg {
    max-width: 80%;
    border-radius: 50%;
    margin-left: 20%;
    border: 15px solid #ffffff;
    box-shadow: 0px 0px 10px 3px #00000029;
}

.content-wrapper{
    margin-left: -25%;
}

.logo {
    width: 270px;
    max-width: 100%;
}


.rside {
    width: 100%;
}

.form-control {
    height: 45px;
    margin-top: 20px;
    border: 2px solid lightgrey;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


@media (max-width: 992px) {
    .heroimg {
        max-width: 70%;
        margin: auto;
    }

    .content-wrapper {
        text-align: center;
        margin: auto;
    }
}


@media (max-width: 576px) {
    .heroimg {
        max-width: 90%;
        margin: auto;
    }

    .button-container {
        flex-direction: column;
    }

    .button-container button {
        width: 100%;
    }
}
